Screen {
    align: center middle;
}

#betza_input {
    width: 50%;
    margin: 1 1;
}

#board {
    border: thick green;
    padding: 1;
    width: auto;
    height: auto;
}

#piece_catalog_list {
    width: 30;
    height: 100%;
    border: thick blue;
    margin: 0 1;
}

PieceListItem {
    padding: 1;
}

PieceListItem > .name {
    text-style: bold;
}

PieceListItem > .variant {
    color: #888;
}

#legend {
    text-align: center;
    margin-top: 1;
}
